html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    font-family: Arial;
}
.viewport{
   width: 500%;
   height: 100%;
   display: -webkit-box;
   /*overflow: hidden;*/
   /*pointer-events: none; 去掉这句话*/
   -webkit-transform: translate3d(0,0,0);
   backface-visibility: hidden;
   position: relative;
}
.pageview{
    -webkit-box-flex: 1;
    width: 0;
}
.pagenumber{
    display: -webkit-box;
    position: absolute;
    bottom: 2em;
    left: 35%;
    height: 2em;
    width: 30%;
}
.pagenumber div{
    -webkit-box-flex: 1;
    width: 0;
    position: relative;
}
.pagenumber .now:after {
    background: rgba(255,255,255,1) !important;
}
.pagenumber div:after{
    content: "";
    width: 0.4em;
    height: 0.4em;
    background: rgba(255,255,255,0.5);
    border-radius: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.2em;
    margin-left: -0.2em;
}
h3{
    text-align: center;
    font-family: Microsoft YaHei,Arial;
    color: #fff;
    font-size: 1.7em;
    font-weight: normal;
    padding: 1em 0;
    margin: 0;
}
button{
    width: 40%;
    margin: auto;
    height: 3em;
    background: #fff6de;
    line-height: 3rem;
    color: #000;
    padding: 0;
    border: none;
    display: block;
}
@media screen and (max-width: 360px) {
    html,body{font-size: 15px}
}
@media screen and (min-width: 360px) and (max-width: 400px) {
    html,body{font-size: 16px}
}
@media screen and (min-width: 400px) and (max-width: 460px) {
    html,body{font-size: 18px}
}
@media screen and (min-width: 460px){
    html,body{font-size: 24px}
}

