@-webkit-keyframes jump /* Safari and Chrome */
{
    0%{margin-top: 0px}
    50%{margin-top: 40px}
    100%{margin-top: 0px}
}
.container{
    overflow-y: scroll;
    /*transform: translate3d(0px, -100px, 0px);*/
}
ul.detail_ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.integral_date{
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    background: #cdcdcd;
}
.date{
    font-size: 24px;
}
.detail_li{
    /* vertical-align: middle; */
    /* padding: 20px 0px; */
    border: 1px solid #fdf7f3;
    /* line-height: 80px; */
    background: #ffffff;
}
.viewDetail_li{
    margin: 20px 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 0px rgba(228,223,222,1);
}
a.name{
    display: inline-block;
    text-indent: 20px;
}
b.name{
    width: 300px;
    text-indent: 20px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a.status{
    font-size: 24px;
    text-indent: 300px;
    /*display: inline-block;*/
}
a.date{
    font-size: 20px;
    display: inline-block;
    text-indent: 20px;
}
a.integral{
    font-size: 20px;
    text-indent: 80px;
    display: inline-block;
}
.taskIcon{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: inline-block;
    /* line-height: 80px; */
    vertical-align: middle;
    /* text-indent: 20px; */
    margin-left: 20px;
}
.taskName{
    display: inline-block;
    /* line-height: 80px; */
    /* height: 111px; */
    vertical-align: middle;
    width: 346px;
}
.taskStatus{
    display: inline-block;
    /* margin-top: -30px; */
    /* line-height: 80px; */
    line-height: 111px;
    vertical-align: middle;
}
.viewTaskStatus{
    display: inline-block;
    line-height: 111px;
    vertical-align: middle;
    width: 120px;
    text-align: right;
}
.taskMark{
    width: 10px;
    height: 111px;
    background: yellowgreen;
    display: inline-block;
    vertical-align: middle;
}
.upLoading{
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: url("../images/loading.png")no-repeat 40% center;
    overflow: auto;
}
.downLoading{
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #afafaf;
    /*background: url("../images/waitIMG.png")no-repeat center center;*/
    /*background-size: 50px;*/

}

.downLoading_img{
    animation: jump 0.7s infinite;
    -webkit-animation: jump 0.7s infinite;
    width: 50px;
    position: absolute;
    margin-left: -20px;
    /*animation-duration:0.7s;*/
    /*animation-name:jump;*/
    /*animation-direction: alternate;*/
}
.tasks_none{
    width: 80%;
    text-align: left;
    margin: 60px auto;
}