#questionnaire{
    margin:0;
    height: 100%;
    width: 100%;
}
.skipHeader {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-indent: 25px;
}

.skipFooter {
    width: 100%;
    height: 130px;
    line-height: 130px;
    text-align: -webkit-center;
}

.textIcon {
    width: 100%;
    height: 265px;
}

.liziIcon {
    width: 100%;
    height: 320px;
    background: url("../images/liziIcon.png") no-repeat center center;
}

.skipTimer {
    width: 55px;
    height: 100px;
    background: url("../images/circle.png") no-repeat 100% center;
    display: inline-block;
    background-size: 30px;
    text-align: -webkit-center;
}

.QrHeader {
    width: 100%;
    height: 135px;
    text-align: -webkit-center;
}

.QrContent {
    width: 100%;
    text-align: -webkit-center;
}

.QrInside {
    width: 386px;
    height: 386px;
    background: #FFFFFF;
    box-shadow: 0 4px 20px 0 rgba(248, 105, 25, 0.50);
    border-radius: 12px;
}

.Qrcode {
    width: 386px;
    border-radius: 12px;
}

.QrTip {
    display: inline-block;
    width: 312px;
    margin-top: 22px;
    color: #4A4A4A;
}

.QrFooter {
    width: 100%;
    height: 475px;
    text-align: -webkit-center;
}

.longTouch {
    width: 50px;
    height: 79px;
    background: url("../images/longTouch.png") no-repeat center center;
    margin-top: 28px;
}