* {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.multi-picker-locked {
    height: 100% !important;
    overflow: hidden !important;
}

.multi-picker-bg {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(75, 75, 75, 0);
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    z-index: -1;
}

.multi-picker-bg-up {
    z-index: 999 !important;
    background: rgba(75, 75, 75, 0.65) !important;
}

.multi-picker-container {
    width: 96%;
    height: 330px;
    position: absolute;
    margin-left: 12px;
    margin-bottom: 12px;
    border-radius: 15px;
    bottom: 0;
    transform: translate3d(0, 342px, 0);
    -webkit-transform: translate3d(0, 342px, 0);
    left: 0;
    background-color: #FFF;
    transition: transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
    box-shadow: 0px 0px 8px #000;
    -webkit-box-shadow: 0px 0px 8px #000;
    z-index: -1;
}

.multi-picker-container-up {
    transform: translate3d(0, 0, 0) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
}

.multi-picker-btn-box {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: rgba(255, 156, 142,1);
    z-index: 10;
    font-size: 28px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.multi-picker-btn-box .multi-picker-btn {
    position: absolute;
    display: inline-block;
    margin: 0 20px;
    color: #fff;
    right: 0;
}

.multi-picker-btn-box .multi-picker-btn:nth-child(1) {
    left: 0;
    right: initial;
}

.multi-picker-content {
    position: absolute;
    width: 100%;
    height: 250px;
    font-size: 0;
    top: 80px;
    z-index: 10;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
}
.multi-picker-content .multi-picker {
    display: inline-block;
    height:100%;
    overflow: hidden;
    position: relative;
    z-index: -1;
    transition: width .3s ease;
    vertical-align: top;
}

.multi-picker-content ul::-webkit-scrollbar {
    display: none;
}

.multi-picker-content li {
    height: 50px;
    text-align: center;
    line-height: 50px;
    list-style: none;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 23px;
}

.multi-picker-content .multi-picker-up-shadow, .multi-picker-content .multi-picker-down-shadow {
    position: absolute;
    width: 100%;
    height: 80px;
    pointer-events: none;
}

.multi-picker-content .multi-picker-up-shadow {
    top: 0;
    background-image: linear-gradient(to bottom, #FFF, rgba(255, 255, 255, 0));
    z-index: 50;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.multi-picker-content .multi-picker-down-shadow {
    bottom: 0;
    z-index: 50;
    background-image: linear-gradient(to top, #FFF, rgba(255, 255, 255, 0));
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.multi-picker-content .multi-picker-line {
    width: 85%;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 50%;
    pointer-events: none;
    box-sizing: border-box;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
}

/*# sourceMappingURL=index.css.map */
