.wechat_tasks_ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.wechat_tasks_title{
    display: inline-block;
}
.wechat_tasks_li{
    height: 100px;
    line-height: 100px;
    margin: 0px 50px;
}