.header{
    height: 425px;
}
.content{
    overflow-y: scroll;
}
.wechatTask_info{
    height: 290px;
    text-align: center;
    background: linear-gradient(to left, rgba(246,113,94,1),rgba(251,185,151,1));
}
.preWeekLizi{
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    width: 49%;
    height: 114px;
    margin: 7px 0;
    text-align: center;

}
.nowWeekLizi{
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    text-align: center;
    width: 48%;
    height: 114px;
}
.wechatAvatar{
    margin: 0 auto;
}
img.wechatAvatar_img{
    margin-top: 34px;
    border-radius: 80px;
    box-shadow: 0 0 20px #fc5c1f;
}
img.integral_img{
    position: absolute;
    margin: -48px 0 0 360px;
}
.wechatName{
    margin-top: 5px;
    font-size: 30px;
    color: #fff;
}
.checkIn_days{
    /*margin-top: 5px;*/
    font-size: 20px;
    color: #fff;
}
.liziBar{
    background: #fff;
    font-size: 27px;
    font-weight: 600;
    color: #fc5c1f;
}
a.liziNumTitle{
    font-size: 21px;
    font-weight: 100;
    color: #afafaf;
}
.integralDetail{
    font-size: 23px;
    background: url("../images/list.png")no-repeat 0% center;
    width: 120px;
    display: inherit;
    text-indent: 28px;
}
.integralMarket{
    font-size: 23px;
    background: url("../images/coin.png")no-repeat 0% center;
    width: 150px;
    display: inherit;
    text-indent: 28px;
}
ul.wechatTask_ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li.detail_li{
    margin: 18px;
    height: 100px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 0px rgba(228,223,222,1);
}
.taskIconBox{
    display: inline-block;
    vertical-align: middle;
    height: 100px;
    line-height: 100px;
}
.taskIcon{
    width: 76px;
    height: 76px;
    display: inline-block;
    border-radius: 38px;
    vertical-align: middle;
    margin-left: 20px;
}
a.integral{
    background: url(../images/lizi_img.png)no-repeat 0 center;
    color: #fc5c1f;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    text-indent: 35px;
    margin-left: 10px;
}
.taskStatus{
    display: inline-block;
    vertical-align: middle;
    height: 55px;
    line-height: 55px;
    width: 120px;
    text-align: center;
    margin-left: 20px;
    border-radius: 10px;
    background: #2196F3;
}
.dividingLine{
    height: 70px;
    width: 1px;
    background: #dfdfdf;
    display: inline-block;
    vertical-align: middle;
}
a.name{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a.taskReward{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fc5c1f;
    /*background: url("../images/lizi_img.png")no-repeat center center;*/
}
.taskNameAndReward{
    display: inline-block;
    vertical-align: middle;
    width: 325px;
    margin-left: 20px;
}
.receiveStaAndEnd{
    color: #ff5001;
}
.taskCardReward{
    color: #ff5001;
}
.tasks_none{
    width: 100%;
    height: 600px;
    line-height: 200px;
    text-align: center;
}
.noneIcon{
    width: 96px;
    height: 100%;
    background: url(../images/noneIcon.png)no-repeat center center;
    background-size: 60px;
}
.noneNote{
    display: inline-block;
    width: 430px;
    vertical-align: middle;
    font-size: 20px;
    margin-left: 30px;
}

