.topCircle{
    width: 350px;
    height: 350px;
    border-radius: 175px;
    background: #fbcfc2 url(../images/privilegeLogo.png)no-repeat center center;
    margin: 0 auto;
    margin-top: -50px;
}
.taskRule{
    width: 580px;
    margin: 0 auto;
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* z-index: 1; */
    box-shadow: 0 0 15px #f9af93;
    text-align: center;
    height: 720px;
}
.taskRule_title{
    font-size: 30px;
    font-weight: bold;
    /* height: 50px; */
    /* height: 50px; */
    /* line-height: 50px; */
    /* margin: 25px 0 5px 0; */
    height: 60px;
    line-height: 70px;
    color: #ff5001;
}
.taskRule_detail{
    text-align: left;
    margin: 0 30px;
    padding: 0 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 360px;
    border: 3px solid #f1f4f7;
    border-radius: 8px;
}
.taskRule_detail p{
    padding: 0;
    margin: 10px 0;
    font-size: 20px;
    color: #ff5001;
}
.taskName,.taskTime,.taskDetail,.taskGuide{
    width: 383px;
    display: inline-flex;
    color: #808080;
}
.taskReward{
    margin: 20px auto;
    color: #ff5001;
    height: 148px;
}
.taskReward_title{
    font-size: 30px;
    font-weight: bold;
}
.taskReward_detail{
    height: 106px;
    display: inline-flex;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}
.receiveButton{
    display: inline-block;
    padding: 20px 150px;
    background: #fc673e;
    border-radius: 8px;
    color: #fff;
}
.receiveSuccess_modal{
    position: fixed;
    width: 100%;
    height:100%;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    z-index: 1;
}
.receiveSuccess{
    width: 364px;
    height:420px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -265px 0 0 -182px;
    background: #fff;
    border-radius:10px;
}
a.receiveSuc_title{
    height: 91px;
    line-height: 120px;
    /* margin: 0 auto; */
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    color: #ff5001;
}
.goSubmitBtn{
    height: 77px;
    line-height: 77px;
    font-size: 30px;
    display: block;
    background: #ff5a2f;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
}
a.receiveSuc_content{
    padding: 23px 20px;
    display: table;
    font-size: 22px;
}
.receiveSuc_icon{
    height: 200px;
    background: url(../images/receiveSuc.png)no-repeat center center;
    background-size: 200px;
}
.receiveSuccess_close{
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 530px 0 0 163px;
    border-radius: 25px;
    border: 2px solid #fff;
    background:url("../images/picClose.png")no-repeat center 60%;
}
a.goTaskUrlBtn{
    padding: 15px 40px;
    background: #fff;
    border-radius: 8px;
    color: #fc673e;
    border: 1px solid;
    margin: 0 20px;
    font-size: 24px;
}
a.viceReSubBtn{
    padding: 15px 40px;
    background: #fc673e;
    border-radius: 8px;
    color: #fff;
    border: 1px solid;
    margin: 0 20px;
    font-size: 24px;
}
a.taskIntegration{
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    display: inline-block;
    border-radius: 20px;
    background: #f1f4f7 url(../images/lizi_img.png)no-repeat 15% center;
    text-indent: 32px;
    font-size: 24px;
}
a.taskEntityReward,a.taskElecReward{
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    display: inline-block;
    border-radius: 20px;
    background: #f1f4f7 ;
}
.privilegeTipAndIn_modal{
    position: fixed;
    width: 100%;
    height:100%;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    z-index: 1;
}
.privilegeTipAndIn{
    width: 364px;
    height:420px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -265px 0 0 -182px;
    background: #fff;
    border-radius:10px;
}
.TipAndIn_goLink{
    height: 77px;
    line-height: 77px;
    font-size: 30px;
    display: block;
    background: #ff5a2f;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
}
a.TipAndIn_content{
    padding: 23px 20px;
    display: table;
    font-size: 22px;
}
.TipAndIn_icon{
    height: 258px;
    background: url("../images/TipAndIn.png")no-repeat center 100%;
}
.TipAndIn_close{
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 530px 0 0 163px;
    border-radius: 25px;
    border: 2px solid #fff;
    background:url("../images/picClose.png")no-repeat center 60%;
}
