@-webkit-keyframes jump /* Safari and Chrome */
{
    0%{margin-top: 0px}
    50%{margin-top: 40px}
    100%{margin-top: 0px}
}
@-webkit-keyframes shadow /* Safari and Chrome */
{
    0%{-webkit-transform: scale(0.5, 0.5)}
    50%{-webkit-transform: scale(1, 1)}
    100%{-webkit-transform: scale(0.5, 0.5)}
}
.userInfoForm_modal{
   position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 2;
}
.messageBox_topPart{
    height:362px;
}
.wechat_userInfo{
     width: 640px;
    height: 100%;
    text-align: center;
    background: url(../images/wechat_bg.png)no-repeat center 0%;
    background-size: cover;
}
.personal_link{
    position: absolute;
    margin-left: 478px;
    margin-top: 30px;
    padding: 4px 2px 2px 2px;
    background: #ffe603;
    width: 110px;
    /*height: 46px;*/
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    font-size: 30px;
}
.profileGrade{
    display: inline-block;
    margin-top: 30px;
    width: 40%;
    border-right: 0.5px solid #cdcdcd;
    color: #a5a5a5;
    margin-right: -8px;
}
.profileIntegral{
    height: 88px;
    line-height: 88px;
    /* color: #009eff; */
    background: url(../images/integral_arrow.png)no-repeat 92% center;
    background-size: 14px;
    border-radius: 115px;
    text-align: right;
    float: right;
    color: #ff5001;
    margin-right: 30px;
}
.profileIntegral .integral_number{
    font-family: PingFangSC-Semibold, sans-serif;
}
.checkIn_days{
    height: 50px;
    line-height: 50px;
    margin: 0px auto;
    color: #fff;
    font-size: 22px;
}
.privilege_checkIn{
    -webkit-appearance: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    border: none;
    outline: none;
    height: 60px;
    width: 210px;
    text-align: center;
    border-radius: 35px;
    background: #fff url(../images/checkInIMG.png)no-repeat;
    background-size: 45px;
    background-position-x: 12%;
    background-position-y: 30%;
    margin: 0px auto;
    margin-top: 6px;
    padding-bottom: 6px;
    color: #ff5001;
    box-shadow: inset 0px -6px 2px #ff5001;
    font-size: 23px;
    text-indent: 50px;
    opacity: 1;
}
.privilege_checkIn_down{
    background-position-y: 60%;
    padding-bottom: 0px;
    padding-top: 6px;
    box-shadow: inset 0px 6px 2px #ff5001;
}
.privilege_checkIn_after{
    color: rgba(225,80,1,0.5);
}
.wechat_userInfo .wechatAvatar{
    /*height: 40%;*/
}
.wechat_userInfo .wechatAvatar_img{
    width: 137px;
    height: 137px;
    border-radius: 68.5px;
    /*border:1px solid #cdcdcd;*/
    box-shadow: 0px 0px 10px #ff5001;
    -webkit-box-shadow:0px 0px 16px #ff5001;
    margin-top: 58px;
    background: url("../images/WechatIMG.jpeg")no-repeat center;
}
.wechat_userInfo .integral_img{
    position: absolute;
    margin-top: -45px;
    margin-left: 355px;
}
.wechat_userInfo .wechatName{
    font-size: 30px;
    color: #fff;
    text-shadow: 0px 0px 10px #494949;
    -webkit-text-shadow:0px 0px 10px #494949;
    font-family: PingFangSC-Semibold, sans-serif;
}
.integrationNo{
    display: inline-block;
    color: #ff5b2f;
    text-align: right;
    margin-left: 140px;
}
a.integration_number{
    font-size: 20px;
    color: #ff5b2f;
    display: inline-block;
}
a.integrationNo_lizi{
    font-size: 20px;
    color: #ff5b2f;
    /*vertical-align: middle;*/
    /*margin-right: 6px;*/
}
.wechat_userInfo .profilePrivilege{
    margin: 14px auto;
    width: 400px;
    /*height: 66px;*/
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    -webkit-text-shadow:0px 0px 10px #000;
}
.wechat_userInfo .privilege_tipBubble{
    width: 400px;
    /*height: 60px;*/
    min-height: 60px;
    margin: 0px 120px;
    border: 1px solid #fff;
    border-radius: 8px;
    background: #fff;
    position: absolute;
}
a.privilege_detail{
    line-height: 1.6em;
    width: 90%;
    margin: 0px auto;
}
.privilege_link{
    position: absolute;
    width: 640px;
    height: 53px;
    line-height: 53px;
    text-indent: 30px;
    color: #ff5001;
    background: rgba(255,247,235,1);
    top: 0;
    left: 0;
}
/*.messageBox_bottomPart{*/
    /*height: 56%;*/
/*}*/
.show_userInfo_fold{
    height: 80px;
    width: 90%;
    background: orangered;
    margin: 0 auto;
}
.invite_attention_fold{
    height: 120px;
    width: 100%;
    background: #fff;
    margin:0px auto;
}
.invite_attention{
    height: 88px;
    line-height: 88px;
    float: left;
}
.show_userInfo{
    text-align: center;
    padding: 10px 56px 40px 56px;
    background: #fff;
}
.shoe_userInfoTitle{
    height: 78px;
    line-height: 78px;
    text-align: center;
    font-size: 27px;
    margin-bottom: 2px;
    background: #fff;
}
.show_userInfo .show_title{
    text-indent: 12px;
    font-size: 20px;
}
.show_userInfo .show_edit{
    font-size: 24px;
    text-indent: 30px;
    color: #ff5001;
    background: url("../images/edit.png")no-repeat 5% 50%;
    background-size: 25px;
    border:2px solid;
    border-radius: 8px;
    display: inline-block;
    padding: 10px 15px;
    margin: 20px auto;

}
.show_userInfo .userInfo_list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.userInfo_tag{
    width: 100px;
    color: #f47754;
    border: 2px solid;
    border-radius: 20px;
    padding: 0px 10px;
    display: inline-block;
}
.show_userInfo td{
    padding: 15px 10px;
}
.show_userInfo .td_first{
    width: 110px;
    padding: 15px 10px;
    display: inline-block;
}
.show_userInfo .td_second{
    color: #a5a5a5;
}
.wechat_tasks{
    margin-bottom: 10px;
}
.wechat_tasks::-webkit-scrollbar {
    display: none;
}
.userInfoForm_modal .fill_userInfo{
    width: 550px;
    height: 746px;
    margin-left: 45px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px #fc673f;
    -webkit-box-shadow: 0px 0px 5px #fc673f;
}
.userInfoForm_modal .fill_title{
    height: 100px;
    line-height: 150px;
    font-size: 36px;
    letter-spacing: 6px;
}
.userInfoForm_modal .fill_tip{
    width: 400px;
    height: 50px;
    color: #fc673f;
    visibility: hidden;
    font-size: 20px;
    margin: 0 auto;
}
.userInfoForm_modal .fill_close{
    -webkit-appearance: none;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: url(../images/cancel.png)no-repeat center;
    background-size: 50px;
    position: absolute;
    margin-top: 80px;
    left: 50%;
    margin-left: -30px;
}
.userInfoForm_modal .fill_content{
    padding: 0 40px;

    /*height: 680px;*/
}
.userInfoForm_modal table{
    width: 100%;
}
.userInfoForm_modal tr{
    height: 104px;
}
.userInfoForm_modal td.fill_content_text{
    display: block;
    width: 310px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #a5a5a5;
    margin-top: 10px;
}
.userInfoForm_modal td.fill_content_text span{
    position: absolute;
    margin-top: 20px;
    text-indent: 12px;
    color: #afafaf;
}
.userInfoForm_modal .fill_submit{
    -webkit-appearance: none;
    outline: none;
    border-style: none;
    font-size: 28px;
    letter-spacing: 5px;
    display: block;
    width: 300px;
    height: 80px;
    margin-left: 85px;
    margin-top: 40px;
    background: rgba(252,103,63,1);
    border-radius: 8px;
    color: #fff;
}
.userInfoForm_modal input#mather_name,input#mobile,input#address{
    -webkit-appearance: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 310px;
    height: 70px;
    /*background: green;*/
    font-size: 22px;
    text-indent: 12px;
    color: #afafaf;
}
input#date{
    -webkit-appearance: none;
    outline: none;
    border: none;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 310px;
    height: 70px;
    /*background: green;*/
    font-size: 22px;
    text-indent: 12px;
}
.userInfoForm_modal #date{
    position: absolute;
}
.wechat_userInfo .a_personal_link{
    -webkit-appearance: none;
    outline: none;
    border: none;
}
.address_detail{
    background: #fff;
    width: 96%;
    height: 330px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 12px;
    margin-bottom: 12px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px #000;
    -webkit-box-shadow: 0px 0px 8px #000;
    transition: transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
}
.address_detail .address_detail_cancel{
    float: left;
    margin-left: 20px;
    font-size: 28px;
    color: #fff;
}
.address_detail .address_detail_push{
    float: right;
    margin-right: 20px;
    font-size: 28px;
    color: #fff;
}
.address_detail ul{
    height: 80px;
    background: rgba(255, 156, 142,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.address_detail li{
    display: inline-block;
    line-height: 80px;
}
.address_detail table.ul_detail{
    width: 100%;
    height: 250px;
    padding: 30px;
}
.ul_detail td{
    padding:10px 15px;
}
textarea.text_detail{
    resize: none;
    -webkit-appearance: none;
    outline:none;
    width: 90%;
    height: 50px;
    border:none;
    border-bottom: 1px solid #000;
    font-size: 20px;
}
.address_detail_modal{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 2;
}
.invite_attentionModal{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 2;
}
.invite_button{
    padding: 10px 12px;
    color: #fff;
    /* position: absolute; */
    /* top: 110px; */
    /* left: 440px; */
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    float: right;
    margin-top: -270px;
}
canvas#invite_canvas{
    opacity: 0;
}
img.invite_canvas_map{
    position: absolute;
    top: 45%;
    left: 50%;
    margin:-363px 0 0 -262px;
}
img.invite_canvas_lizi{
    max-width: 82px;
    position: absolute;
    top: 41%;
    left: 50%;
    margin: -20px 0 0 -41px;
    animation: jump 0.7s infinite;
    -webkit-animation: jump 0.7s infinite;
}
img.invite_canvas_shadow{
    max-width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin:30px 0 0 -24px;
    animation: shadow 0.7s infinite;
    -webkit-animation: shadow 0.7s infinite;
}
.invite_close{
    position: absolute;
    top: 85%;
    left: 50%;
    width: 65px;
    height: 65px;
    margin:0 0 0 -32px;
    background: url("../images/cancel.png");  
}
.profilePrivilege_modal{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 10;
}
.profilePrivilege{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 364px;
    height: 514px;
    margin: -257px 0 0 -182px;
    background: linear-gradient(to bottom,rgba(255,156,142,1), rgba(251,185,151,1));
    border-radius: 8px;
    text-align: -webkit-center;
}
.Privilege_title{
    height: 80px;
    line-height: 100px;
    font-size: 30px;
    text-align: center;
    color: #fff;
}
.Privilege_middleLogo{
    height: 180px;
    background: url("../images/privilegeLogo.png")no-repeat center 100%;
}
.Privilege_detail{
    width: 300px;
    line-height: 1.5em;
    font-size: 24px;
    letter-spacing: 2px;
    background: #fff;
    padding: 10px 12px;
    border-radius: 8px;
}
.Privilege_footerLogo{
    height: 90px;
    background: url("../images/logoIMG.png")no-repeat center center;
}
.Privilege_close{
    position: absolute;
    top: 79%;
    left: 50%;
    width: 65px;
    height: 65px;
    margin:0 0 0 -32px;
    background: url("../images/cancel.png");
}
.profileIntegral_tip{
    position: absolute;
    left: 466px;
    margin-top: 50px;
    opacity: 0;
    color: #ff5b2f;
    text-shadow: 0 0 4px #ff5b2f;
    font-size: 30px;
}
.show_expend_up{
    display: block;
    width: 50px;
    margin: 0 auto;
    text-align: center;
    color: #ff5001;
}
div#viewport{
    width: 100%;
    height: 80%;
    /* width: 500%; */
    display: -webkit-box;
    -webkit-transform: translate3d(0,0,0);
    backface-visibility: hidden;
    overflow-x: scroll;
}
.pageview{
    width: 45%;
    height: 100%;
    /* padding: 10px; */
    margin: 0 5px;
    border-radius: 8px;
}
.wechat_myIntegral{
    height: 88px;
    line-height: 88px;
    text-indent: 30px;
    width: 100%;
    background: #fff;
    margin: 0 auto;
}
.wechat_tasksTitle{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 27px;
}
.integrationBar{
    height: 100px;
    background: #fff;
}
.myIntegration{
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    width: 49%;
    padding: 17px 0px;
    background: url("../images/myIntegration.png")no-repeat 20% center;
}
.myIntegration_inside{
    display: inline-block;
    vertical-align: middle;
}
.myIntegration_title{

    text-indent: 140px;
    display: inline-block;
}
.dividing_line{
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    width: 2px;
    height: 50px;
    background: #cfcfcf;
}
.myWelfareMall{
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    width: 48%;
    padding: 17px 0px;
    background: url("../images/myWelfareMall.png")no-repeat 20% center;
}
.myWelfareMall_title{

    text-indent: 140px;
    display: inline-block;
}
.myWelfareMall_market{
    font-size: 20px;
    color: #ff5b2f;
    text-indent: 140px;
    display: inline-block;
}

ul#viewport{
    height: 315px;
    width: 100%;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
li.pageView{
    display: inline-block;
    width: 220px;
    height: 315px;
    border-radius: 8px;
    text-align: center;
}
a.receiveType{
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    margin-top: 115px;
    color: #fc5c1f;
}

.receiveBtn{
    width: 125px;
    height: 54px;
    text-align: center;
    background: #fc673f;
    line-height: 54px;
    border-radius: 8px;
    color: #fff;
    margin: 10px auto;
    margin-left: 55px;
    font-size: 24px;
}
.taskCard_leftBox{
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    width: 29%;
    height: 100%;
    /* line-height: 300%; */
    text-align: center;
}
.taskCard_rightBox{
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    width: 69%;
    height: 90%;
    font-size: 20px;
    /*padding: 20px 10px 0px 10px;*/
}
.taskCard_liziBox{
    float: left;
    width: 70%;
    height: 40px;
    line-height: 40px;
    background: #f1f4f7 url(../images/lizi_img.png)no-repeat 30% center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 15px;
    text-indent: 45px;
    color: #ff5001;
}
.receiveIcon{
    /*background: #fff2ea url(../images/questionnaire.png)no-repeat center center;*/
    background-size: 70px;
    width: 110px;
    height: 110px;
    border-radius: 70px;
    margin: 0 auto;
    margin-top: 54px;
}
.taskCard_detailBtn{
    /* display: inline-block; */
    /* border-bottom: 1px solid; */
    color: #ff5001;
    /* line-height: 30px; */
    /* height: 30px; */
    width: 114px;
    /* margin-top: 10px; */
    margin: 10px auto;
    background: url(../images/taskDetail.png)no-repeat 0% center;
    background-size: 20px;
    text-indent: 14px;
    font-size: 20px;
}
.taskCard_rightBox p{
    margin:3px 0;
}
.show_dividing_line{
    width: 470px;
    height: 1px;
    background: #cdcdcd;
    margin: 0 auto;
}
.show_expend_upBox{
    height: 63px;
    line-height: 63px;
}
.receiveSuccess_modal{
    position: fixed;
    width: 100%;
    height:100%;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    z-index: 1;
}
.receiveSuccess{
    width: 364px;
    height:450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -265px 0 0 -182px;
    background: #fff;
    border-radius:10px;
}
a.receiveSuc_title{
    height: 91px;
    line-height: 120px;
    /* margin: 0 auto; */
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    color: #ff5001;
}
.goSubmitBtn{
    height: 77px;
    line-height: 77px;
    font-size: 30px;
    display: block;
    background: #ff5a2f;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
}
a.receiveSuc_content{
    padding: 23px 20px;
    display: table;
}
.receiveSuc_icon{
    height: 200px;
    background: url(../images/receiveSuc.png)no-repeat center center;
    background-size: 200px;
}
.receiveSuccess_close{
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 530px 0 0 163px;
    border-radius: 25px;
    border: 2px solid #fff;
    background:url("../images/picClose.png")no-repeat center 60%;
}
.taskDetail{
    height: 112px;
    width: 100%;
}
.taskIntro{
    width: 356px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    margin-bottom: -28px;
}
p.receiveTitle{
    font-size: 28px;
    font-weight: bold;
    color: #ff5001;
    width: 356px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
a.a_detail{
    border-bottom: 1px solid #ff5a2f;
}
.integration_tip{
    width: 145px;
    height: 150px;
    line-height: 250px;
    text-align: center;
    background: #fff url("../images/check.png")no-repeat center 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px #fc673f;
    color: #fc5c1f;
    position: absolute;
    left: 50%;
    /* top: 50%; */
    margin-left: -73px;
    margin-top: -110px;
    z-index: 2;
    font-size: 22px;
    opacity: 0;
}
.taskCardReward{
    height: 28px;
    color: #fc5c1f;
}
p.receiveStaAndEnd{
    color: #fc5c1f;
}
.doubt_lizi{
    width: 160px;
    height: 35px;
    line-height: 35px;
    background: url(../images/doubtLizi.png)no-repeat 0% 40%;
    float: right;
    margin-top: -205px;
    color: #fff;
    text-indent: 25px;
    font-size: 22px;
}
.wechat_tasksHistory{
    float: right;
    margin-top: -45px;
    margin-right: 20px;
    border-bottom: 1px solid;
    font-size: 20px;
    color: #fc5c1f;
}
.privilegeTip_modal{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}
.tip_circle{
    position: absolute;
    width: 510px;
    height: 50px;
    line-height: 50px;
    color: #ff5001;
    background: rgba(255,247,235,1);
    top: 0;
    left: 0;
    /* background: #fff; */
    margin-left: 20px;
    text-align: center;
    border-radius: 26px;
    border: 2px solid;
}
.tip_arrow{
    position: relative;
    width: 150px;
    height: 150px;
    background: url("../images/tipArrow.png")no-repeat center center;
    margin: 50px 260px;
}
.tip_icon{
    position: relative;
    width: 170px;
    height: 200px;
    background: url("../images/tipIcon.png")no-repeat center center;
    margin: -170px 400px;
}
.tip_textImg{
    width: 380px;
    height: 200px;
    background: url(../images/tipText.png)no-repeat center center;
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
}
.tasks_none{
    width: 100%;
    height: 330px;
    line-height: 330px;
    text-align: center;
}
.rightBox_note1{
    padding: 40px 20px 30px 20px;
    display: inline-block;
    font-size: 24px;
}
.rightBox_note2{
    padding: 0px 20px;
    font-size: 24px;
    color: #FF5A00;
}
.leftBox_icon{
    width: 100%;
    height: 100%;
    background: url("../images/noneIcon.png")no-repeat 90% 40%;
    background-size: 130px;
}





