@-webkit-keyframes rotate /* Safari and Chrome */
{
    0%{transform: rotate(0deg)}
    /*50%{margin-top: 40px}*/
    100%{transform: rotate(360deg)}
}
input#fileChooser{
    position: absolute;
    width: 171px;
    height: 171px;
    opacity: 0;
}
.coverBox{
    height: 171px;
    width: 171px;
    display: inline-block;
    background: #f3f6f8 url("../images/picUpload.png")no-repeat center center;
    margin: -1px 3px;
}
.updateImg{
    width: 580px;
    /*height: 1180px;*/
    margin: 0 auto;
    margin-top: -75px;
    border-radius: 10px;
    box-shadow: 0 0 15px #f9af93;
    background: #fff;
    padding-bottom: 35px;
}
.updateImg_title,.describe_title{
    line-height: 65px;
    font-size: 26px;
    text-indent: 30px;
    height: 60px;
}
.describe_detail{
    -webkit-appearance: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    outline: none;
    border:none;
    width: 480px;
    height: 120px;
    resize: none;
    padding: 20px 25px;
    font-size: 20px;
}
.experienceBox{
    text-align: center;
    width: 534px;
    height: 205px;
    margin: 0 auto;
    border: 2px solid #cdcdcd;
    border-radius: 8px;
}
.topCircle{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background: #fbcfc2 url("../images/privilegeLogo.png")no-repeat center center;
    margin: -50px auto;
}
.taskRule{
    margin: 25px 28px;
    line-height: 1.8em;
    font-size: 20px;
}
.submitButton{
    display: table;
    text-align: center;
    margin: 0px auto;
    padding: 20px 150px;
    background: #fc673e;
    border-radius: 8px;
    color: #fff;
}
.ScreenshotsBox{
    /*height: 532px;*/
    margin-left: 25px;
    text-align: left;
}
.previewerClose{
    width: 28px;
    height: 28px;
    background: rgba(0,0,0,0.7) url(../images/picClose.png)no-repeat center 65%;
    background-size: 20px;
    border-radius: 14px;
    position: absolute;
    margin-left: 140px;
    margin-top: 6px;
}
.displayImg_modal{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}
img.enlargeImg{
    position: absolute;
    top: 50%;
    left: 50%;
}
.enlargeImgClose{
    width: 50px;
    height: 50px;
    background: red;
}
/*.displayImg_modal{*/
    /*position: absolute;*/
    /*top:0;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
/*.enlargeImg{*/
    /*position: absolute;*/
    /*top:50%;*/
    /*left: 50%;*/
/*}*/
.submitSuc_modal{
    position: fixed;
    width: 100%;
    height:100%;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    z-index: 1;
}
.submitSuc{
    width: 364px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -225px 0 0 -182px;
    background: #fff;
    border-radius: 10px;
}
a.submitSuc_title{
    height: 91px;
    line-height: 120px;
    /* margin: 0 auto; */
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    color: #ff5001;
}
.knowBtn{
    height: 77px;
    line-height: 77px;
    font-size: 30px;
    display: block;
    background: #ff5a2f;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
}
a.submitSuc_content{
    padding: 23px 20px;
    display: table;
    font-size: 22px;
}
.submitSuc_icon{
    height: 200px;
    background: url(../images/receiveSuc.png)no-repeat center center;
    background-size: 200px;
}
.submitSuc_close{
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 40px 0 0 155px;
    border-radius: 25px;
    background: url(../images/picClose.png)no-repeat center 60%;
    border: 2px solid #fff;
}
.previewer{
    width: 171px;
    height: 171px;
    margin:-1px 3px;
    animation: rotate 0.7s infinite;
    -webkit-animation: rotate 0.7s infinite;
}
.nowPreviewer{
    width: 171px;
    height: 171px;
    margin:-1px 3px;
    animation: none;
    -webkit-animation: none;
}
.monitorNo{
    display: inline-block;
    float: right;
    margin-right: 20px;
    color: #c0c0c0;
    font-size: 22px;
}
.keyUpNote{
    display: inline-block;
    float: left;
    margin-left: 25px;
    color: #FF6635;
    font-size: 22px;
}